<%= simple_nested_form_for @case, :html => { :class => '' } do |case_form| %>
    <div class="card">  
      <div class="row">
        <div class="col s12">
          <fieldset>
            <%= render :partial => "case_fields", :locals => { :f => case_form } %>
          </fieldset>
        </div>
      </div>

      <div class = "card">
      <div class = "row">
        <div class = "col s12">
         
          <%= case_form.fields_for :documents do |document_form| %>
            <%= render :partial => "document_fields", :locals => { :f => document_form } %>
          <% end %>

          <p>
            <br /><%= case_form.link_to_add("Add Document", :documents, :class => 'btn') %>
            <br>
            <br>
          </p>
        </div>
      </div>
      </div>


    <div class = "row">
      <div class="form-actions">
        <div class = "col s1"><%= case_form.submit "Submit", :class => 'btn orange lighten-2' %></div>
        <div class ="col s1 offset-s5 "><%= link_to 'Cancel', cases_path, :class => 'btn orange lighten-2' %></div>
      </div>
    </div>
  </div>


<% end %>
