<% if logged_in? %>
<!-- <p id="notice"><%= notice %></p> -->

<div class="card">
  <% if !@cases.empty? %>
  <h2>Listing Cases</h2>
  <ul class="collection">

    <% for c in @cases %>
    <li class="collection-item avatar">
      <div class = "row">
        <div class = "col l6 s6">
          <i class="material-icons circle"> </i>
          <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
          <span class="title"> <%= link_to "#{c.subject}", c %></span>
          <p> <%= c.client_name %> <br>
                  </div>
        <div class = "col l2 s6">
           <%= User.find(c.deacon_id).proper_name %> <br> </div>
           <div class = "col l2 s6">
           <%= c.status_display.capitalize %> <br> </div>
           <div class = "col l2 s6">
           <%= c.date_submitted.to_formatted_s(:rfc822) %> </div>
         </p>
       </div>
       <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
     </li>
     <%end%>
   </ul>
   <% else %>
   <p>No cases in the system.</p>
   <% end %>



   <br>
   <br>
   <br>
   <%= link_to '+ NEW CASE', new_case_path, class: "btn orange lighten-2" %>
   <% else %>
   <p>please log in</p>

   <% end %>
 </div>



 <li class="collection-item avatar">
  <img src="images/yuna.jpg" alt="" class="circle">
  <span class="title">Title</span>
  <p>First Line <br>
   Second Line
 </p>
 <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>
<li class="collection-item avatar">
  <i class="material-icons circle">folder</i>
  <span class="title">Title</span>
  <p>First Line <br>
   Second Line
 </p>
 <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>
<li class="collection-item avatar">
  <i class="material-icons circle green">insert_chart</i>
  <span class="title">Title</span>
  <p>First Line <br>
   Second Line
 </p>
 <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>
<li class="collection-item avatar">
  <i class="material-icons circle red">play_arrow</i>
  <span class="title">Title</span>
  <p>First Line <br>
   Second Line
 </p>
 <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>
</ul>
