<div id="case">

<div class ="card">
<p id="notice"><%= notice %></p>
<% if can? :read, @case %>
  <div class = "row">
    <div class = "col s12">
      <h2> <%= @case.subject %></h2>
    </div>
  </div>
  <div class="row">
    <div class = "col s12">
      <div class = "row">
        <div class = "col s12">
            <%= link_to new_vote_taken_path(@case.id), remote: true do%>
              <h2>Votes:
                <span class="num_yes"><%= @case.votes.yes.count %></span> |
                <span class ="num_no"><%= @case.votes.no.count%></span>
              </h2>
            <% end %>

          <div id="vote-form" style="display:none;"></div>
        </div>
      </div></div>
  </div>
</div>

<div class = "card">
  <div class = "row">
    <div class ="col s10 offset-s1">
      <h4>Client:</h4><p><%= @case.client_name %></p>
      <h4>Status:</h4> <p><%= @case.status %></p>
      <h4>Description:</h4><p><%= @case.summary %></p>
      <h4>Date Submitted:</h4><p><%= @case.date_submitted.to_formatted_s(:rfc822) %></p>
    
  </div>
</div>
</div>


<% if @documents_list.nil? %>
<div class="card">
  <p><em>There are no documents.</em></p>
</div>
<% else %>
<div class="card">
  <div class = "row">
    <div class ="col s10 offset-s1">
      <h4>Documents/Attachments</h4>
          <ul>
          <% @documents_list.each do |document| %>
              <li><%= link_to "#{document.name}", document.attachment_url %></li>
            <% end %>
          </ul>
           <h4>File/Date Uploaded</h4>
      </div>
    </div>
  </div>

<% end %>

     




<div class="card">

    <div class = "row">
      <h4 >Notes</h4>
      <p> <%= @case.notes ? nil : "None!"%> </p>
    </div>
</div>


<div class ="card">
  <div class = "row">
    <div class = "col s10 offset-s1">
      <% if can? :edit, @case %>
        <%= link_to 'Edit', edit_case_path(@case) %> |
      <% end %>
      <%= link_to 'Back', cases_path %>
    </div>
    <% if can? :destroy, @case %>
      <div class = "two columns">
        <!-- if can delete -->
        <%= link_to 'Destroy', @case, method: :delete, data: { confirm: 'Are you sure?' }  %>
      </div>
    <% end %>
  </div>
  </div>

  </div>

<div class="card">
  <!-- DISQUS -->
  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

  // var disqus_config = function () {
  // this.page.url = '<%= url_for(@case) %>';  // Replace PAGE_URL with your page's canonical URL variable
  // this.page.identifier = '<%= @case.id %>' // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  // };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://manna-1.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<% else %>
  <h3>You don't have permission to view this</h3>
<% end %>

</div>
</div>
