   <br>
   <br>
   <% if !@active_users.empty? %>
   <h1>Deacons+Staff</h1>

  <div class="row">
      <% @active_users.each do |user| %>
      <div class="col s12 m4 l3">
   <div class="card">
    <div class="card-content name">
    <%if current_user.role? :admin%>
              <%= link_to user.proper_name, edit_user_path(user)  %>
            <% else %>
              <%= user.proper_name %>
            <% end %>
  
    </div>
    <!-- "#{c.subject}" -->
    <div class="card-content grey lighten-4">
      <div ><%= mail_to user.email %></div>
      <div id="test5"><%= user.phone.nil? ? "N/A" : (user.phone.insert(0, '(').insert(4, ') ').insert(-5, '-')) %></div>
      <div id="test6">    <%= user.role_display.capitalize %></div>
    </div>
  </div>
  </div>
<%end%>
</div>

  <% else %>
  <p>Nothing to show.</p>
  <% end %>

