<!-- <p id="notice"><%= notice %></p>
 -->

 <br>
  <br>
<% if !@active_users.empty? %>
  <h1>Deacons+Staff</h1>

  <table class = "responsive-table centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
<!--         <th>Status</th> -->
      </tr>
    </thead>

    <tbody>
      <% @active_users.each do |user| %>
        <tr>
          <td><%if current_user.role? :admin%>
              <%= link_to user.proper_name, edit_user_path(user)  %>
            <% else %>
              <%= user.proper_name %>
            <% end %></td>
          <td><%= mail_to user.email %></td>
          <td><%= user.phone.nil? ? "N/A" : (user.phone.insert(0, '(').insert(4, ') ').insert(-5, '-')) %></td>
          <td><%= user.role_display.capitalize %></td>
          <!-- <td><%#= user.active ? "Active" : "Inactive" %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @active_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>

<% else %>
  <p>Nothing to show.</p>
<% end %>
<br>
<% if current_user.role?(:admin) || current_user.role?(:head_deacon) %>
  <% if !@inactive_users.empty? %>
    <h2>Inactive Deacons+Staff</h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
  <!--         <th>Status</th> -->
        </tr>
      </thead>

      <tbody>
        <% @inactive_users.each do |user| %>
          <tr>
            <td><%= user.proper_name %></td>
            <td><%= mail_to user.email %></td>
            <td><%= user.phone.nil? ? "N/A" : (user.phone.insert(0, '(').insert(4, ') ').insert(-5, '-')) %></td>
            <td><%= user.role_display.capitalize %></td>
            <!-- <td><%#= user.active ? "Active" : "Inactive" %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @inactive_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>

  <% else %>
    <p>Nothing to show.</p>
  <% end %>
<% end %>





<br>

<%= link_to 'New User', new_user_path %>
