
  <h3>Your Cases</h3>
  <!-- SUBMIT CASE BUTTON -->

  <% if !@cases_user.nil? and !@cases_user.empty? %>
    <div class = "card">
      <table class = "u-full-width">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Client</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% for c in @cases_user %>
            <tr>
              <td><%= link_to "#{c.subject}", c %></td>
              <td><%= c.client_name %></td>
              <td><%= c.status_display.capitalize %></td>
              <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @cases_user, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    </div>
  <% else %>
    <div class="card">
      <h4>No cases to show.</h4>
    </div>
  <% end %>

<%=link_to "New Case", new_case_path, :class => 'btn' %>
