<div class="card">
  <h2>Your Cases</h2>
  <% if !@cases_user.empty? %>
    <table class = "u-full-width">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Client Name</th>
          <th>Assigned Deacon</th>
          <th>Status</th>
          <th>Date submitted</th>
        </tr>
      </thead>
      <tbody>
        <% for c in @cases_user %>
          <tr>
            <td><%= link_to "#{c.subject}", c %></td>
            <td><%= c.client_name %></td>
            <td><%= c.deacon.proper_name %></td>
            <td><%= c.status_display.capitalize %></td>
            <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @cases_user, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <% else %>
    <p>No cases to show.</p>
  <% end %>
</div>