<div class= "row">
  <h1>Cases Needing Vote</h1>
  <% if !@cases_need_voting.empty? %>
    <table class = "u-full-width">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Client Name</th>
          <th>Assigned Deacon</th>
          <th>Status</th>
          <th>Date submitted</th>
        </tr>
      </thead>
      <tbody>
        <% for c in @cases_need_voting %>
          <tr>
            <td><%= link_to "#{c.subject}", c %></td>
            <td><%= c.client_name %></td>
            <td><%= c.deacon.proper_name %></td>
            <td><%= c.status_display.capitalize %></td>
            <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @cases_need_voting, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <% else %>
    <p>No cases to show.</p>
  <% end %>


</div>

<div class= "row">
  <h1>Submitted Cases</h1>
  <% if !@submitted_cases.empty? %>
    <table class = "u-full-width">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Client Name</th>
          <th>Assigned Deacon</th>
          <th>Status</th>
          <th>Date submitted</th>
        </tr>
      </thead>
      <tbody>
        <% for c in @submitted_cases %>
          <tr>
            <td><%= link_to "#{c.subject}", c %></td>
            <td><%= c.client_name %></td>
            <td><%= c.deacon.proper_name %></td>
            <td><%= c.status_display.capitalize %></td>
            <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @submitted_cases, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <% else %>
    <p>No cases to show.</p>
  <% end %>
</div>